---
import HomeIcon from "../../public/icons/HomeIcon.astro";
---

<header class="fixed flex flex-row top-0 justify-center items-center right-0 z-20 w-full p-8">
    <nav class="flex flex-wrap justify-center items-center ml-auto gap-x-10">
        <a href="/" aria-label="Home button" class="hover:text-green-200 hover:scale-110 transition"><HomeIcon class="size-4"  /></a>
        <a href="/404" aria-label="Blog" class="hover:text-green-200 hover:font-[1000] transition">Blog</a>
        <a href="/cv" aria-label="Curriculum" class="hover:text-green-200 hover:font-[1000] transition">CV</a>
    </nav>
</header>
