---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import ViewTransitions from 'astro/components/ViewTransitions.astro';

// Supports weights 100-900
import '@fontsource-variable/hanken-grotesk';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Navbar /> 
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
	}

	html {
		font-family: "Hanken Grotesk Variable", system-ui, sans-serif;
		background: #13151a;
		color-scheme: dark light;
		scroll-behavior: smooth;
		overflow-y: scroll;
	}
	
	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin-right: calc(100vw - 100%);
	}

	@media (prefers-reduced-motion: reduce){
		html {
			scroll-behavior: auto;
		}
	}	
</style>
